* {
    margin: 0;
    padding: 0;
}

.cardHolder1 {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.Wrapper1 {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* width: 77%; */
    margin: 0 10px;
    padding: 0  10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    height: 300px;
    width: 200px;
    margin: 5px 10px;
    cursor: pointer;
    transition: 1s;
}

.card:hover {
    height: 310px;
    width: 210px;
    border: 2px solid lightblue;
    border-radius: 5%;
}

.card>img {
    border-radius: 6% 6% 0 0;
    width: 200px;
    height: 250px;
    border-bottom: 2px solid lightblue;
}

.text {
    display: flex;
    flex-direction: column;

    font-size: 20px;
    margin-top: 5px;

}

.text>h3 {
    margin-left: 9%;
}
.text span{
    margin-left: 3px;
}

.text>p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-right: 2%;
    margin-top: 3%;
    margin-bottom: 5%;
}
.Move{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
button {
    margin: 5px 5%;
    padding: 5px 10px;
  
   
}
.moveicon1{
    right: 90vw; 
    top: 20vh;
    position: absolute;
    z-index: 2;
}
.moveicon{
    position: absolute;
    z-index: 2;
    left: 90vw;
     top: 20vh;
}

